@tailwind base;
@tailwind components;
@tailwind utilities;

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
  display: flex;
  gap:10px;
}



::-webkit-scrollbar {
    width: 2px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb {
    background: rgb(59 ,130 ,246 );
  }
  